{% if this.path == '/download' %}
  {% include 'download-android.html' %}
{% endif %}
{% set locale = bag('alternatives', this.alt) %}
<div class="container-fluid bg-dark footer {{ locale.order }} {{ locale.direction }}">

  {% if this.path != '/download' %}

  <div class="row onion-bg">
    <div class="col-12 d-flex justify-content-right">
      <div class="container pt-5 justify-content-right">
        <div class="offset-lx-2 offset-sm-4 mt-5">
           <h2 class="text-white text-bold">{{ _('Download Tor Browser') }}</h2>
            <p class="text-white">{{ _('Download Tor Browser to experience real private browsing without tracking, surveillance, or censorship.') }}</p>
            {% set download = site.get('/download') %}
            {% if download == None %}
              <a class="btn text-primary bg-white btn-light pull-right mt-2" href="https://www.torproject.org/download/">
            {% else %}
              <a class="btn text-primary bg-white btn-light pull-right mt-2" href="{{ this.url_to(download, alt=this.alt) }}">
            {% endif %}

              {{ _("Download Tor Browser") }}<i class="ml-2 pt-1 fas fa-arrow-down-png-purple"></i>
            </a>
        </div>
      </div>
    </div>
  </div>

  {% endif %}


  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="col-sm-6 offset-lx-1 offset-sm-0 mt-5">
	        <h5 class="font-weight-bold mt-5 text-white">{{ _('Our mission:') }}</h5>
          <p class="text-white mb-5" >{{ _('To advance human rights and freedoms by creating and deploying free and open source anonymity and privacy technologies, supporting their unrestricted availability and use, and furthering their scientific and popular understanding.') }}</p>
      </div>
      <div class="col-sm-2 mt-5 d-none d-sm-block">
        <ul class="nav flex-column mt-sm-5">
          {% set menubag = 'menu_footer' %}
          {% for id, item in bag(menubag).items() %}
          <li{% if this.is_child_of(item.path) %} class="nav-item active" {% else %} class="nav-item"{% endif %}>
          {% set link = site.get(item.path) %}
          {% if link %}
            <a class="nav-link text-light" href="{{ item.path|url(alt=this.alt) }}">
          {% else %}
            {% set local = bag('links', this.alt, id) %}
            {% if local %}
              <a class="nav-link text-light" href="{{ local }}">
            {% else %}
              <a class="nav-link text-light" href="{{ item.path }}">
            {% endif %}
          {% endif %}
              {{ _(item.label) }}
              {% if this.is_child_of(item.path) %}
                <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% set link = bag('links', this.alt, 'donate') %}
        {% if link %}
          <a href="{{ link }}" title="{{ _("Donate") }}"><h5><span class="badge badge-warning p-2 mt-2">{{ _("Donate Now") }}</span></h5></a>
        {% else %}
          <a href="https://www.torproject.org/donate/{{ this.alt }}" title="{{ _("Donate") }}"><h4><span class="badge badge-warning p-2">{{ _("Donate Now") }}</span></h4></a>
        {% endif %}
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="col-sm-6 offset-lx-1 offset-sm-0 mt-5">
        <p class="text-primary-light text-uppercase">{{ _('Subscribe to our Newsletter') }}</p>
        <p class="text-light">{{ _('Get monthly updates and opportunities from the Tor Project:') }}</p>
        <p class="w"><a class="btn btn-small btn-dark mt-2 text-white text-uppercase active" role="button" aria-pressed="true" href="https://newsletter.torproject.org/">{{ _('Sign up') }}</a></p>
      </div>
      <div class="col-sm-2 mt-5 d-none d-sm-block">
        <div class="row">
          <h4><a class="text-white px-3" target="_blank" href="https://forum.torproject.org"><i class="fab fa-discourse"></i></a></h4>
          <h4><a class="text-white px-3" target="_blank" href="https://www.facebook.com/TorProject/"><i class="fab fa-facebook-png"></i></a></h4>
          <h4><a class="mastodon text-white px-3" target="_blank" href="https://mastodon.social/@torproject" rel="me"><i class="fab fa-mastodon-png"></i></a></h4>
        </div>
        <div class="row">
          <h4><a class="instagram text-white px-3" target="_blank" href="https://www.instagram.com/torproject"><i class="fab fa-instagram-png"></i></a></h4>
          <h4><a class="twitter text-white px-3" target="_blank" href="https://twitter.com/torproject"><i class="fab fa-twitter-png"></i></a></h4>
          <h4><a class="linkedin text-white px-3" target="_blank" href="https://www.linkedin.com/company/tor-project"><i class="fab fa-linkedin-png"></i></a></h4>
        </div>
        <div class="row">
          <h4><a class="github text-white px-3" target="_blank" href="https://github.com/torproject"><i class="fab fa-github-png"></i></a></h4>
          <h4><a class="telegram text-white px-3" target="_blank" href="https://t.me/torproject"><i class="fab fa-telegram-png"></i></a></h4>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="col-8 mt-5">
        {% from "macros/footer.html" import render_faq %}
        <p class="text-primary text-light">{{ _('Trademark, copyright notices, and rules for use by third parties can be found in our %(link_to_faq)s.')|format(link_to_faq=render_faq())|safe }}</p>
      </div>
      <div class="col-sm-2 mt-5 d-none d-sm-block">
        <div class="btn-group dropup float-right">
      	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ bag('alternatives', this.alt, 'language') }}
      	  </button>
      	  <div class="dropdown-menu">
            {% for id, item in bag('alternatives').items() %}
              {% if this.alt != id %}
    	          <a class="dropdown-item" href="{{ this.path|url(alt=id) }}">{{ item.language }}</a>
              {% endif %}
            {% endfor %}
        	</div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ '/static/js/jquery-3.2.1.min.js'|asseturl }}" ></script>
  <script src="{{ '/static/js/popper.min.js'|asseturl }}" ></script>
  <script src="{{ '/static/js/bootstrap.bundle.min.js'|asseturl }}" ></script>
  <script src="{{ '/static/js/scrollspy.min.js'|asseturl }}" ></script>
  <script src="{{ '/static/js/modernizr.js'|asseturl }}" ></script>
  <script src="{{ '/static/js/download.js'|asseturl }}" ></script>
  <script src="{{ '/static/js/fallback.js'|asseturl }}" ></script>
  </div>
</div>
